<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882268915220-fe57bgeqbj2rf5cb608v9mpuph648vrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882268915220-fe57bgeqbj2rf5cb608v9mpuph648vrg</string>
	<key>API_KEY</key>
	<string>AIzaSyCSs0Fz77nbhTSceC2mJSgxU46VsEkVces</string>
	<key>GCM_SENDER_ID</key>
	<string>882268915220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>union.io.basic-birthdays-app</string>
	<key>PROJECT_ID</key>
	<string>basic-birthdays-app</string>
	<key>STORAGE_BUCKET</key>
	<string>basic-birthdays-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882268915220:ios:1c21c74cea6b3cb252c901</string>
</dict>
</plist>